.custom-button {
    background-color: #3276b1; /* Green background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for better appearance */
    font-size: 16px; /* Font size */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    border-color: #285e8e;
    cursor: pointer; /* Cursor style */
  }
  
  .custom-button:hover {
    background-color: #3276b1; /* Darker green on hover */
    border-color: #285e8e;
  }
  